{% extends 'base.html' %}

{% block title %}Panier{% endblock %}

{% block content %}
    <h1>HOLLE BIENVENUE SUR MA PAGE PRUDUIT</h1>
    <table>
        <thead>
            <th>produit</th>
            <th>quantite</th>     
            <th>prix</th>
            <th>prix total</th>
            <th> Modifiers </th>
            <th> supprimer </th>

        </thead>
        <tbody>
            {% for item in panier  %}
            <tr>
                <td>{{item.produit}} </td>
                <td>{{item.quantite}} </td>
                <td>{{item.prix}} </td>
                <td>{{item.total_prix}} </td>
                <td>
                    <form method="post" action="{% url 'supprimer_du_panier' slug=item.produit.slug %}">
                        {% csrf_token %}
                        <button type="submit">Supprimer</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{% url 'modifier_quantite_panier' slug=item.produit.slug %}">
                        {% csrf_token %}
                        <input type="number" name="quantite" value="{{item.quantite }}" min="1">
                        <button type="submit">Modifier</button>
                    </form>
                </td>
            </tr>
            {%empty%}
             <tr>
                <td>  pas de produit dans le panier  </td>
            </tr>


            {% endfor %}
        </tbody>
    </table>

{% endblock %}