{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Zealiman{% endblock %}</title>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            <p>Connecté en tant que {{ user.username }}</p>
            <form method="post" action="{% url 'deconnexion' %}">
                {% csrf_token %}
                <button type="submit">Déconnexion</button>
            </form>
            <a href="{% url 'voir_panier' %}">Panier</a>
            <a href="{% url 'passer_commande' %}">passer_commande</a> 
            <a href="{% url 'historique_commandes' %}">historique_commandes</a>
        {% else %}
            <a href="{% url 'connexion' %}">Connexion</a>
            <a href="{% url 'inscription' %}">Inscription</a>   
            
        {% endif %}
        <a href="{% url 'home' %}">Accueil</a>
        
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>